@import "tailwindcss";

@theme {
    --font-sans: "Mona Sans", system-ui, -apple-system, sans-serif;
    --font-mono: "Geist Mono", monospace;
}

/* ---------- Base defaults ---------- */
@layer base {
    /* Basic resets and defaults */

    body {
        @apply text-slate-900 bg-yellow-50 m-32 font-sans antialiased text-center;
    }
}

/* ---------- Layout helpers ---------- */
@layer components {
    /* page horizontal padding */
    .page {
        @apply px-4 sm:px-6 lg:px-8;
    }

    /* max width + center */
    .container {
        @apply mx-auto max-w-6xl;
    }

    /* vertical page spacing */
    .page-section {
        @apply mt-8;
    }
}
